<!DOCTYPE html>
<html>
    <head>
        <title>
            <title><%=title %> </title>
            <link rel = "stylesheet"  href="/css/layout.css">
        </title>
    </head>
    <body>
        <%- include('_header'); %>
        <%- body %>
        <%- include('_footer'); %>
       
    </body>
</html>